
    *{
        color: darkorange;
    }



    p, span {
        font-size: 20px;
        border: 5px dotted palegreen;
        color: dodgerblue;
        width: 300px;
    }

/**
Esto es un comentario dentro de un documento CSS
*/
    h1 {
        font-family: 'Rubik Bubbles', cursive;
        border: 10px double black;
        margin-top: 40px;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
        /**padding-top: 20px;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 20px;*/
        padding: 30px 15px 25px 20px;
        font-weight: bold;
        color: fuchsia;
    }

    section {
        width: 300px;
        border: 15px solid purple;
        padding: 50px;
        margin: 20px;
    }

    #mi_parrafo{
        font-weight: lighter;
        color: blueviolet;
        font-size: 23px;
        border: 5px double goldenrod;
    }

    .estaesmiclase{
        font-size: 23px;
        font-weight: lighter;
        color: blueviolet;
        border: 5px double goldenrod;
    }

    .estaesmifrase {
        font-size: 23px;
        font-weight: lighter;
        color: blueviolet;
        border: 5px double goldenrod;
    }

    section h1 {
        font-size: 80px;
    }